<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../layout/head.ejs'); %>
  
</head>
<body>
  <%- include('../../layout/header.ejs'); %>
  <main>
      <h1>Hello</h1>
      <h4>Search by Title or Author</h4>
      <form action="/searches" method="POST">
        <input type="text" name="search" placeholder="Enter title or author" id="enter" required>
        <fieldset class="radio">
          <label for="title">
            <span>Title</span>
            <input type="radio" name="search" value="title" required>
          </label>
        </fieldset>
        <fieldset class=radio>
          <label for="author">
            <span>Author</span>
            <input type="radio" name="search" value="author" required>
          </label>
        </fieldset>
        <button type="submit" class="button"> search the google books api</button>
      </form>

      <form action="/allstoredbooks">
           <button type="submit" class="button"> all saved books</button>
      </form>

  </main>
</body>
</html>