<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <h1>Our Book List</h1>
    <p><a href="/">Home</a></p>
    <ul>
      <% searchResults.forEach(item => { %>
        
          <img src=<%=item.image_url %>p
          <h3><%= item.title %></h3>
          <h4><%= item.author %></h4>
          <p><%= item.description %></p>
        
      
      <% }) %>
    </ul>
  
</body>
</html>