* {
  box-sizing: border-box;
}

body {
  background-color: #808080;
  width: 100%;
  align-content: center;
}

@media screen and (max-width: 480px) {
  body {
    background-color: lightgrey;
  }
}

h1 {
  font-family: 'Thasadith', sans-serif;
  font-family: 'Staatliches', cursive;
  text-align: center;
  font-size: 40px;
}

a:link {
  text-decoration: none;
}


#enter {
  width: 20%; 
  margin: auto;
}
  
  

.radio {
  width: 20%; 
  padding: 8px;
 
  
}  

.button {
  background-color: lightblue;
  padding: 8px;
  color: #ffffff;
  width: 20%; 
  
}

h4 {
  color: #000000;
  font-family: 'Thasadith', sans-serif;
  font-family: 'Staatliches', cursive;
}
  
  