<header>
 
    <h1><a href="/">Best Books!</a></h1>
    
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/new">Search Google Books API</a>
      </li>
    </ul> 
     
  </header>