<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Best Books!</title>
     <link rel="stylesheet" href="../styles/base.css">
     <link href="https://fonts.googleapis.com/css?family=Thasadith" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Staatliches|Thasadith" rel="stylesheet">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>